.contributions {
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 0;
}

.contribution {
    margin-left: 3rem;
    margin-right: 3rem;
}

.contribution-logo {
    width: 171px;
    height: 171px;
    margin: 15px auto 0;
    background-size: cover;
    border-radius: 50%;
}

.contribution-description {
    position: relative;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 256px;
    text-align: center;
}